body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.header {

    margin: 0;
    padding: 100px;
    background-color: #3f6a45;
    color: #ffffff;
    text-align: center;
    font-size: 125%;
    text-shadow: 1px 1px 2px #484e49;
}

.header_link {
    font-size: 100%;
    color: #ffffff;


}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d8355;
    border-bottom: 1px solid #3f6a45;
}

li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 13px 10px;
    text-decoration: none;
    font-size: 70%;
}

.a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #d2ffd9;
}

a:active {
    color: #d2ffd9;
}






.card-text-title {
    color: #ffffff;
    font-weight: bolder;
    text-shadow: 0px 0px 5px #272a27;
    font-size: 200%;
    padding: 15px;
    margin: 5px;
}

.card-text-greet {
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 0px 5px #484e49;
    font-size: 175%;
    padding: 10px;
}

.theam_botten {
    background-color: #4d8355;
    color: #ffffff;
    width: 65px;
    padding: 2px;
}

@media only screen and (min-width: 920px) {
    .form {
        float: left;
    }

    .card-background-ballon {
        margin: auto;
        width: 450px;
        height: 350px;
        background-image: url(image/ballons.jpg);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }

    .card-background-flower {
        margin: auto;
        width: 450px;
        height: 350px;
        background-image: url(image/flowers.jpg);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }

    .card-background-frog {
        margin: auto;
        width: 450px;
        height: 350px;
        background-image: url(image/frog\ \(Smol\).jpg);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }

    .card-background-bird {
        margin: auto;
        width: 450px;
        height: 350px;
        background-image: url(image/birds.avif);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }

    .card-background-cats {
        margin: auto;
        width: 450px;
        height: 350px;
        background-image: url(image/cats.avif);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }

    .card-background-space {
        margin: auto;
        width: 450px;
        height: 350px;
        background-image: url(image/Space.jpg);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }
}

@media only screen and (max-width: 920px) {
    .form {
        margin: auto;
    }

    .card-background-ballon {
        margin: auto;
        width: 450px;
        height: 350px;
        background-image: url(image/ballons.jpg);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }

    .card-background-flower {
        margin: auto;
        width: 450px;
        height: 350px;
        background-image: url(image/flowers.jpg);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }

    .card-background-frog {
        margin: auto;
        width: 450px;
        height: 350px;
        background-image: url(image/frog\ \(Smol\).jpg);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }

    .card-background-bird {
        margin: auto;
        width: 450px;
        height: 350px;
        background-image: url(image/birds.avif);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }

    .card-background-cats {
        margin: auto;
        width: 450px;
        height: 350px;
        background-image: url(image/cats.avif);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }

    .card-background-space {
        margin: auto;
        width: 450px;
        height: 350px;
        background-image: url(image/Space.jpg);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }
}

@media only screen and (max-width: 500px) {
    .form {
        margin: auto;
    }

    .card-background-ballon {
        margin: auto;
        width: 90%;
        height: 350px;
        background-image: url(image/ballons.jpg);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }
    .card-background-flower{
        margin: auto;
        width: 90%;
        height: 350px;
        background-image: url(image/flowers.jpg);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }
    .card-background-frog{
        margin: auto;
        width: 90%;
        height: 350px;
        background-image: url(image/frog\ \(Smol\).jpg);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }
    .card-background-bird{
        margin: auto;
        width: 90%;
        height: 350px;
        background-image: url(image/birds.avif);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }
    .card-background-cats{
        margin: auto;
        width: 90%;
        height: 350px;
        background-image: url(image/cats.avif);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }

    .card-background-space{
        margin: auto;
        width: 90%;
        height: 350px;
        background-image: url(image/Space.jpg);
        text-align: center;
        padding: 10px;
        border: 5px solid #000000;
    }
}